@import "https://fonts.googleapis.com/css?family=Lato:400,700";

body {
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  font-size: 20px;
}

ol {
  list-style-type: none;
  padding: 0px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.head {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
}

#video {
  margin-bottom: 30px;
}

#header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
}

#product {
  text-align: center;
  padding-top: 100px;
}

#header-img {
  margin-left: 10px;
}

.motto {
  font-family: Lucida Handwriting;
  font-size: 35px;
  padding: 30px;
}

.product {
  font-family: Lucida Handwriting;
  color: rgb(61, 23, 23);
  font-weight: bold;
}

#company {
  text-align: justify;
  font-size: 20px;
  width: 990px;
  line-height: 2;
  padding-top: 40px;
  margin: 0 auto;
}

hr {
  max: 70%;
  margin: 0 auto;
}

#features {
  display: block;
  width: 50%;
  padding: 20px;
}

.wrapper-feature {
  display: grid;
  grid-template-columns: 200px 600px;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 20px;
}

.wrapper-price {
  padding: 20px;
  margin: 25px auto;
  width: 800px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: space-around;
  border: 4mm ridge rgba(61, 23, 23, 0.562);
  border-radius: 10px;
}

.product {
  padding: 10px;
  text-align: center;
  border-spacing: 1px;
  border-color: black;
}

.price {
  text-align: center;
  font-size: 20px;
}

.desc {
  text-align: center;
}
.order {
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.contact {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.info {
  font-size: 18px;
}

.btn-order {
  padding: 10px;
  color: white;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-order:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.icon {
  font-size: 50px;
  justify-self: center;
  color: rgb(61, 23, 23);
}

.main-feature {
  display: block;
  font-size: 27px;
}

.feature-description {
  align-items: center;
  font-size: 17px;
}

.btn-primary {
  margin-top: 10px;
  width: 100%;
}

label {
  padding-top: 8px;
}
